<div class="row2">
    <div class="innerhead">
      <h1>Diet for</h1>
    </div>

    <div class="innercolumn">
        <div class="column1">
            <div><img src="assets\dia.png"/></div>
            <label>Diabetes Patients</label>
            <p>Do you have diabetes? If this is the case, 
                now is the time to take control of your blood glucose levels
                by following a specific eating plan tailored to your body's demands.
                There are numerous misconceptions concerning the connection between diabetes and eating.
                 I'm here to help you figure out if you're on the right track by regulating your eating choices. 
           </p>
           
           
        </div>

        <div class="column1">
            <div><img src="assets\canoutline.png"/></div>
            <label>Cancer Patients</label>
            <p>Believe! To find the diamond, you'll have to dig a little further. 
                Have you ever been unsure about what to eat and what to avoid? Choosing the correct meal not only aids in recovery, 
                 but also helps you avoid subsequent problems. The diet will be precisely created based on your levels,
                 treatment approaches, and intake conditions. Have faith in your diet. 
            </p>
        </div>

        <div class="column1">
            <div><img src="assets\outlinepreg.jpg"/></div>
            <label>pregnant ladies</label>
            <p>Bringing a child into the world and raising him to be a part of it is identical to how God created this world.
                  A well-balanced diet is crucial at this time,
                   not just for your health but also for your fetus's psychological and social development.
                    As a mother and a nutritionist, I can enable you to connect to a healthier eating plan. 
                    Let us  join hands during this auspicious time to receive our healthiest young one.
            </p>
        </div>

        <div class="column1">
            <div><img src="assets\fitout.png"/></div>
            <label>Fitness</label>
            <p>Fitness, in my opinion, does not imply reducing weight or achieving an out-of-shape physique. 
                It completely reduce undesirable fat from the body while also improving physiological functions.
                Let's debunk some food misconceptions and fads. 
                  I'm here to help you achieve your fitness goals by providing you with a proper nutrition plan.
            </p>
        </div>      
    </div>    
</div>