
    <div class="header-nav">
            
        <div class="left">
            <img src="assets\images (1).jpg"/>
        </div>
        <div class="right1">
            <li><a class="active" href="">Home</a></li>
            <li ><a href="Additional.html">Diet plans</a></li>
            <li><a href="">Appointment</a></li>
        </div>
        <div   align="center"  class="right2">
            <a href="login.html">Log in</a>
			<a href="signup.html">Signup</a>
        </div>
            
    </div> 
