<div class="row2of2">
    <div class="box">
     <div class="text">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Corporis, laudantium dicta cupiditate blanditiis expedita
             iure impedit totam nulla optio sapiente magni eveniet dolore accusamus sed beatae incidunt? Nobis, cum.
             Voluptate?
         </p>
     </div>
     <div class="textbtn">
         <a>Consult Now</a>
         <a href="Additional.html">Diet Plans</a>
     </div>
   </div> 
</div>            
    
  
