<div class="row4">
    <div class="headrow4">
        <h1>How it works</h1>
    </div>

    <div class="innerrow4">
        <div class="column-001">
            <div><img src="assets\no1.png"/></div>
            <label>Book an appointment</label>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Fuga vitae error eaque necessitatibus, nostrum cupiditate eligendi porro non, 
               est soluta minima obcaecati pariatur odit tempora eum sint.
               Delectus, reprehenderit animi!
            </p>
        </div>

        <div class="column-001">
            <div><img src="assets\no2.png"/></div>
            <label>Get an consultation</label>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Fuga vitae error eaque necessitatibus, nostrum cupiditate eligendi porro non, 
               est soluta minima obcaecati pariatur odit tempora eum sint.
               Delectus, reprehenderit animi!
            </p>
        </div>

        <div class="column-001">
            <div><img src="assets\noo3.png"/></div>
            <label>Have a diet plan</label>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Fuga vitae error eaque necessitatibus, nostrum cupiditate eligendi porro non, 
               est soluta minima obcaecati pariatur odit tempora eum sint.
               Delectus, reprehenderit animi!
            </p>
        </div>
    </div>
</div>
  
