<div class="container">
    <div class="row1">
        <div class="toprow">
            <div align="center" class="topright">
                <img src="assets\lady1.jpg"/>
            </div>  
            <div class="topleft">
                 <h1> "Nutrition is the medicine of tomorrow " </h1>
                 <h2>  Even in this high-tech age, the low-tech plant continues 
                  <br>  to be the key to nutrition and health </h2>
                <div class="btn">
                    <div class="top-btn">
                    <a>Consult Now</a>
                    </div>   
                </div> 
            </div>     
        </div>
    </div>
