.container{
    width:100%;
    padding:0px;
    
   
  }
  .row1{
    width:100%; 
    background-color:rgb(49, 110, 100);
  
  }
  .toprow{
    width:100%; 
    
  }
  .topleft{
   width:50%;
   padding: 10px;
   
  }
  .topright{
    float:right;
    width:40%;
    
  }
  .topleft h1{
     padding:5px;
     color:white;
     font-size: 35px;
     padding-left: 50px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .topleft h2{
    padding:5px;
    color:white;
    padding-left: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .btn{
    width:80%;
    padding: 30px;
    padding-left: 50px;
   
  }
  .btn a{
    text-align: center;
    border: none; 
    padding:10px 30px;
    background-color:rgb(243, 121, 77) ;
    color:white;
    text-decoration:none;
    transition:0.6s ease;
    cursor: pointer;
    transform: translate(-50%,-50%);
    font-family: cursive;
    border-radius: 8px;
  }
  .btn a:hover{
    background-color:rgb(235, 118, 76);
    color:black;
    box-shadow : 0 8px 16px 0 white, 
                    0 6px 20px  0 white; 
  }
  
  .toprow:after {
    content: "";
    display: table;
    clear: both;
    }